@model IEnumerable<Biblio.Models.StatusModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShortLibStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartBorrowingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndBorrowingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortLibStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartBorrowingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedEndBorrowingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
